/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(52, 100%, 76%);
  --first-color-light: hsl(52, 100%, 60%);
  --first-color-alt: hsl(52, 91%, 59%);
  --first-color-dark: hsl(178, 41%, 34%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(346, 0%, 90%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(218, 23%, 31%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
  /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: flex;
}

.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
}

.nav__logo img {
  width: 1.25rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, .8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right .3s;
  }
}

.nav__list {
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--little-color);
  transition: color .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav .nav__button {
  background-color: var(--title-color);
  border: none;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 9px hsla(180, 12%, 4%, .3);
}

/* Active link */
.active-link {
  color: var(--first-color);

}

/*=============== HOME ===============*/
.home {
  position: relative;
  padding-bottom: 0;
}

.home_container {
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: .5rem 0;
}

.home__subtitle,
.home__title {
  letter-spacing: 1.5px;
}

.home_description {
  margin-bottom: 2.5rem;
}

.home__triangle {
  height: 325px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.home__triangle-1 {
  width: 105px;
  background-color: var(--first-color);
}

.home__triangle-2 {
  width: 205px;
  background-color: var(--first-color);
}

.home__triangle-3 {
  width: 305px;
  background-color: var(--first-color-dark);
}

.home__img {
  display: block;
  position: relative;
  z-index: 1;
  width: 700px;
  margin: 0 auto;
}

/*============ LOGIN ==================*/
.login {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

#login__right__text {
  width: calc(100% - 600px);
  float: left;

}

.login__box {
  float: right;
  width: 500px;
  background-color: var(--first-color-dark);
  margin: 0 auto;
  border: 1px solid #333;
  box-shadow: 4px 4px 2.5px rgb(59, 54, 70);
  padding: 2rem;
  border-radius: 4px;

}

.login__title {
  font-variant: small-caps;
  font-size: 30px;
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;

}

.login__input-group {
  margin-bottom: 1rem;
  text-align: center;
}

.login__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.login__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--first-color-light);
  margin-bottom: 0.75rem;
}

.login__button:hover {
  background-color: var(--first-color);
}

.login--hidden {
  display: none;
}

.login__link {
  padding-top: 0.5rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.login__link:hover {
  color: var(--first-color);
}

.login__message--success {
  text-align: center;
  color: rgb(103, 241, 38);
  margin-bottom: 1rem;

}

.login__message--error {
  color: rgb(247, 66, 66);
  text-align: center;
  margin-bottom: 1rem;
}

.login__input-errorMsg {
  color: rgb(247, 66, 66);
  font-size: 0.85rem
}


/*=============== Flash Card===============*/
.current_card {
  position: relative;
  height: 200px;
  width: 400px;
  text-align: center;
  background-color: var(--first-color-dark);
  font: var(--second-font);
  font-weight: bold;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 4px 4px 2.5px rgb(59, 54, 70);
  resize: none;
  cursor: pointer;
}


.card_nav_button {
  height: 75px;
  width: 70px;
  background-color: var(--first-color);
  padding: 6px;
  border: 2px solid var(--first-color-light);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
}

#previous_card {
  position: relative;
  right: 240px;
  top: 150px;
}

#next_card {
  position: relative;
  left: 240px;
  top: -125px;
}

.card_nav_button:hover {
  background-color: var(--first-color-alt)
}


#add_card {
  position: relative;
  right: 20px;
  display: inline-block;
  background-color: var(--title-color);
  width: 200px;
  border: 3px solid var(--first-color-dark);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
  border-radius: 30px;
}

#edit_card {
  position: relative;
  left: 20px;
  display: inline-block;
  background-color: var(--title-color);
  width: 200px;
  border: 3px solid var(--first-color-dark);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
  border-radius: 30px;
}

#add_card:hover {
  background-color: var(--first-color-alt)
}

#edit_card:hover {
  background-color: var(--first-color-alt)
}


/*=============All Cards================*/
.all_cards_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
  top: 10%;
}

.card {
  height: 200px;
  font: var(--second-font);
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  resize: none;
  cursor: pointer;
}

.add-card {
  height: 200px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}



/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 18px 32px;
  border: 2px solid var(--first-color-light);
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.25rem;
  transition: transform .3s;
}

.button__flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}

.button__flec:hover i {
  transform: translateX(.25rem);
}

/*=============== LOGOS ===============*/
.logos__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}

.logox__img {
  width: 120px;
}

/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}

.program__card {
  display: grid;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background .5s, border .4s;
}

.program__img {
  width: 38px;
}

.program__shape {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .5s;
}

.progran__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program__description {
  font-size: var(--small-font-size);
  letter-spacing: .5px;
  line-height: 150%;

}

.progran__title,
.progran__description {
  transition: color .5s;
}

.program__button {
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: opacity .4s;
}

.pragram__button i {
  display: block;
  transition: transform .3s;
}

.pragram__button i {
  display: block;
  transition: transform .3s;
}

.program__button:hover i {
  transform: translateX(.25rem)
}

.program__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.program__card:hover .program__shape {
  background-color: var(--first-color-light);
}

.program__card:hover .program__title,
.program__card:hover .program__description {
  color: var(--title-color-black);
}

.program__card:hover .program__button {
  opacity: 1;
}

/*=============== CHOOSE ===============*/
.choose {
  padding-bottom: 0;
}

.choose__overflow {
  position: relative;
}

.choose__container {
  row-gap: 3rem;
}

.choose_content .section__data {
  margin-bottom: 2rem;
}

.choose__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.choose__group {
  text-align: center;
}

.choose__number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: .25rem;
}

.choose__subtitle {
  font-size: var(--small-font-size);
}

.choose__triangle {
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%)
}

.choose__triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}

.choose__triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}

.choose__triangle-3 {
  width: 105px;
  background-color: var(--first-color-dark);
}

.choose__img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

/*=============== TEAM  ===============*/
.team__container {
  grid-template-columns: 285px;
  justify-content: center;
  row-gap: 2rem;
}

.team__card,
.team__shape,
.team__list {
  display: grid;
}

.team__card {
  row-gap: 2rem;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 2rem 2.5rem;
}

.team__img {
  width: 35px;
}

.team__shape {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1rem;
}

.team__title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.team__job {
  font-size: var(--h1-font-size)
}

.team__list {
  row-gap: 1rem;
}

.team__item {
  display: flex;
  column-gap: .5rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.team__item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.team__item-opacity {
  opacity: .3;
}

.team__button {
  background-color: var(--title-color);
}

.team__button:hover {
  background-color: var(--title-color);
}

.team__card-active {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.team__card-active .team__shape {
  background-color: var(--first-color-light);
}

.team__card-active .team__item i {
  color: var(--title-color);
}

.team__card-active .team__title,
.team__card-active .team__job,
.team__card-active .team__item {
  color: var(--title-color-black)
}


/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 4rem;
  padding-top: 1rem;
}

.footer__logo,
.footer__description {
  color: var(--title-color);
}

.footer__logo,
.footer__form,
.footer__social {
  display: flex;
}

.footer__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.footer__logo img {
  width: 1.5rem;
}

.footer__description {
  margin-bottom: 2rem;
}

.footer__form {
  flex-direction: column;
  gap: 1.25rem;
}

.footer__input {
  padding: 20px 56px 20px 24px;
  border: 2px solid var(--first-color-light);
  background: transparent;
  color: var(--text-color);
  outline: none;
}

.footer__content,
.footer__links,
.footer__group {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links {
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .3s;
}

.footer__links:hover {
  color: var(--first-color);
}

.footer__group {
  margin-top: 5rem;
  justify-items: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.25rem;
}

.footer__social-link {
  display: inline-flex;
  padding: .35rem;
  background-color: var(--first-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background .4s;
}

.footer__social-link:hover {
  background-color: var(--first-color-dark);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__message {
  position: absolute;
  transform: translateY(1rem);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(79, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(79, 4%, 25%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(79, 4%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--first-color);
  display: inline-flex;
  padding: .35rem;
  color: var(--title-color-black);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__titles {
    flex-direction: column;
    row-gap: .25rem;
  }

  .home__triangle,
  .choose__triangle {
    height: 255px;
  }

  .home__triangle-3,
  .choose__triangle-1 {
    width: 260px;
  }

  .choose__img {
    width: 195px;
  }

  .team__container {
    grid-template-columns: 250px;
  }

  .team__card {
    padding: 1.5rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
  }
}


/* For medium devices */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .home__container,
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .choose__content .section__data,
  .choose__description,
  .calculate__description {
    text-align: initial;
  }

  .logos__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .program__container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }

  .choose__content {
    order: 1;
  }

  .choose__data {
    justify-items: flex-start;
  }

  .choose__content .section__titles,
  .calculate__content .section__titles {
    justify-content: initial;
  }

  .team__container {
    grid-template-columns: repeat(2, 285px);
    gap: 2.5rem;
  }

  .calculate__container {
    grid-template-columns: 1fr .8fr;
    align-items: center;
  }

  .calculate__form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .calculate__form .button {
    grid-column: 1 / 3;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}


/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    width: initial;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }

  .section {
    padding: 7rem 0 0;
  }

  .section__subtitle {
    font-size: 2rem;
  }

  .home__container {
    grid-template-columns: repeat(2, max-content);
    align-items: initial;
  }

  .home__title {
    margin: .75rem 0 1.25rem;
  }

  .home__description {
    width: 445px;
    margin-bottom: 3rem;
  }

  .home__img {
    width: 550px;
    transform: translateX(-6rem);
  }

  .home__triangle {
    height: 700px;
  }

  .home__triangle-1 {
    width: 145px;
  }

  .home__triangle-2 {
    width: 345px;
  }

  .home__triangle-3 {
    width: 545px;
  }

  .logos {
    padding: 3.5rem 0 1rem;
  }

  .logos__img {
    width: 190px;
  }

  .choose__overflow {
    overflow: hidden;
  }

  .choose__img {
    width: 350px;
  }

  .choose__triangle {
    height: 700px;
  }

  .choose__triangle-1 {
    width: 545px;
  }

  .choose__triangle-2 {
    width: 345px;
  }

  .choose__triangle-3 {
    width: 145px;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .footer__form {
    flex-direction: row;
  }

  .footer__content {
    column-gap: 5rem;
  }

  .footer__group {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 7rem;
  }

  .footer__social {
    order: 1;
  }
}

@media screen and (min-width: 1150px) {

  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__data {
    padding-top: 3rem;
  }

  .home__images {
    transform: translateX(-9rem);
  }

  .home__img {
    width: 700px;
    transform: translateX(2rem);
  }

  .home__triangle {
    height: 995px;
  }

  .home__triangle-1 {
    width: 205px;
  }

  .home__triangle-2 {
    width: 505px;
  }

  .home__triangle-3 {
    width: 705px;
  }

  .program__container {
    grid-template-columns: repeat(4, 245px);
    padding: 3rem 0;
  }

  .program__card {
    padding: 2rem;
  }

  .program__description {
    font-size: var(--normal-font-size);
  }

  .choose__container {
    column-gap: 8rem;
  }

  .choose__img {
    width: 450px;
    margin: 0 0 0 auto;
  }

  .choose__triangle {
    height: 800px;
  }

  .choose__images {
    position: relative;
  }

  .choose__data {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 8rem;
  }

  .choose__description {
    width: 418px;
    margin-bottom: 3.5rem;
  }

  .team__container {
    padding-top: 3rem;
    grid-template-columns: repeat(3, 320px);
  }

  .team__card {
    padding: 2rem 3.5rem;
    row-gap: 2.5rem;
  }

  .calculate__description {
    width: 415px;
  }

  .calculate__form {
    width: 505px;
  }

  .calculate__img {
    width: 300px;
  }

  .scrollup {
    right: 3rem;
  }
}

/*=============== user.html ===============*/

.container {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: auto;
}

#card-con {
  margin-top: 1em;
}

.question-container {
  width: 90vw;
  max-width: 34em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em 2em;
  border-radius: 0.6em;
  box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
}

.question-container h2 {
  font-size: 2.2em;
  color: #363d55;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.1em;
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 2em;
  margin-bottom: 1em;
}

.error-con {
  align-self: center;
}

#error {
  color: #ff5353;
  font-weight: 400;
}

.fa-xmark {
  font-size: 2em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  justify-self: flex-end;
  position: relative;
  left: 45px;
  top: -70px;

}

label {
  color: #363d55;
  font-weight: 600;
  margin-bottom: 0.3em;
}

textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #414a67;
  border-radius: 0.3em;
  resize: none;
}

textarea:not(:last-child) {
  margin-bottom: 3em;
}

textarea:focus {
  border-color: #363d55;
}

#save-btn {
  font-size: 1em;
  background-color: var(--first-color);
  color: #000000;
  padding: 0.6em 0;
  border-radius: 0.3em;
  font-weight: 600;
  border-color: var(--first-color);
  cursor: pointer;
}

.hide {
  display: none;
}

.card-list-container {
  display: grid;
  padding: 0.2em;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
  padding: 1.2em;
  border-radius: 0.4em;
}

.question-div,
.answer-div {
  text-align: justify;
}

.question-div {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #363d55;
}

.answer-div {
  margin-top: 1em;
  font-weight: 400;
  color: #414a67;
}

.show-hide-btn {
  display: block;
  background-color: var(--first-color-dark);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 0.3em;
}

.buttons-con {
  display: flex;
  justify-content: center;
  border-color: #ffffff;
}

.edit,
.delete {
  background-color: transparent;
  padding: 0.5em;
  font-size: 1.2em;
}

.edit {
  color: var(--first-color-dark);
}

.delete {
  color: #ff5353;
}

.hide {
  display: none;
}